main.tarjeta{
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    background: rgba(53, 53, 53, 0.4);
    border-radius: 5px;
    box-shadow: 0rem 0rem 6px 0px rgb(53 53 53 /40%);
}

main.tarjeta img{
    width: 100%;
    margin-top: 10px; 
    border-radius: 5px;
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    margin: 5px 0px 5px 0px ;
}
.aditional-info{
    display: none;
}

.aditional-info-show{
    display: block;
}

.VerMas:hover{
    color: #6670fc;
}

p, h3, i, a, h2, h1 {
    color: #ffffff;
}

h2{
    font-size: 2.05rem;
    line-height: 3.5rem;
    vertical-align: top;
    color: #fff;
    margin-left: 2%;
    letter-spacing: -1px;
}


i.fas.fa-chevron-right{
  margin-left: 4px;  
}

i:hover{
    color: #6670fc;
}

i.fas.fa-chevron-down{
    margin-left: 6px;  
}

.title{
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

