main.tarjeta{
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
}

main.tarjeta img{
    width: 100%;
    margin-bottom: 20px; 
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    margin: 5px 0px 5px 0px ;
}
.aditional-info{
    display: none;
}

.aditional-info-show{
    display: block;
}

.VerMas:hover{
    color: rgb(10, 15, 255);
}