main.tarjeta{
    width: 20%;
    padding: 10px;
    margin-bottom: 20px;
    background:#191919;
    border-radius: 5px;
    box-shadow: 0.15rem 1.75rem 0 #121212;
}

main.tarjeta img{
    width: 100%;
    margin-bottom: 20px; 
    margin-top: 10px; 
}

.navigation{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; 
    margin: 5px 0px 5px 0px ;
}
.aditional-info{
    display: none;
}

.aditional-info-show{
    display: block;
}

.VerMas:hover{
    color: #6670fc;
}

p, h3, i, a, h2, h1 {
    color: #ffffff;
}

i.fas.fa-chevron-right{
  margin-left: 4px;  
}

i:hover{
    color: #6670fc;
}

i.fas.fa-chevron-down{
    margin-left: 6px;  
}