header{
    height: 10vh;
    width: 100%;
    background-color: darkgrey;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
}

header h1{ 
    margin: auto auto auto 10px;
    width: 35%;
}

header form{
    margin: auto;
}

header p{
    margin: auto;
}

header i{
    margin: auto;
}

