.card-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

article.contenedor-tarjetas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around; 
}

.card-container{
    width: 100%;
}

.topbar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between; 
}

.cargarMas{
    width: 10%;
}